{{map-asalto}}

<table class="table table-bordered">
  <thead>
    <tr>
    	<th>Descripcion</th>
    	<th>Mostrar</th>
    </tr>
  </thead>
  <tbody>
  	<tr>
  		<td>undksjdkjasdkajsldk</td>
  		<td></td>
  	</tr>
  	<tr>
  		<td>asdasd</td>
  		<td></td>
  	</tr>
  </tbody>
</table>