<div class="panel panel-primary" >
	<div class="panel-heading"> Busqueda</div>
	<div class="panel-body" style="color:black;">
		<div class="form-group">
			<label for="departamentos">Departamento</label>
			<select class="form-control input-sm" name="departamento" id="">
				<option value="Santa ana">Santa Ana</option>
				<option value="San Salvador">San Salavador</option>
				<option value="San Miguel">San Miguel</option>
			</select>
		</div>
	</div>
	<div class="panel-footer">

		<button class="btn btn-primary btn-sm">search</button>
	</div>
	
</div>
