<div class="map" style="height:550px;">
</div>
{{input type="text"  class="form-control"}}

<div class="modal fade" style="color:black">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" >Punto de asalto</h4>
      </div>
      <div class="modal-body">

      <div class="row">
	    <label class="col-sm-2 control-label">Descripcion</label>
	    <div class="col-sm-10">
	      {{textarea value=descripcion class="form-control"}}
	    </div>
	  </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" {{action 'save'}}>Save changes</button>
      </div>
    </div>
  </div>
</div>